.container {
	max-width: 1170px;
	margin: auto;
	text-align: center;
	border: solid;
}
.header__img img {
	width: 300px;
	border: solid;
}
.header_preview {
	display: flex;
	padding-left: 60px;
}
.header__info {
	font-size: 20px;
	text-align: left;
	width: 500px;
	margin-left: 100px;
}
.main_text {
	text-align: left;
	font-size: 20px;
}
code {
	background-color: bisque;
}
li {
	margin: 10px;
}
.footer_img {
	width: 100px;
}
.footer_logos {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
main {
	margin: 50px 0 50px 30px;
}
